        
        <div class="row">
          <h2 id="contacto">Crear Productos o Servicios</h2>
          <article class="col s6 offset-s3">
           <form [formGroup]="fgValidador" (ngSubmit)="GardarProductoServicio()" method="post" action="formulario-contact.php">
                <div class="row card panel">
                    <div class="input-field" >
                        <label for="tipo">Tipo:</label>
                        <input formControlName="tipo" type="text" name="tipo" required>
                    </div>

                    <div class="input-field" >
                        <label for="nombre">Nombre:</label>
                        <input formControlName="nombre" type="text" name="nombre" required>
                    </div>

                    <div class="input-field" >
                        <label for="descripcion">Descripción:</label>
                        <input formControlName="descripcion" type="text" name="descripcion" required>
                    </div>

                    <div class="input-field" >
                        <label for="precio">Precio:</label>
                        <input formControlName="precio" type="text" name="precio" required>
                    </div>
   
                    <p class="center-align">
                    <button [disabled]="!fgValidador.valid" class="waves-effect waves-ligth btn" type="submit"><i class='material-icons right'>add</i>Crear</button>
                    </p>
                </div>
            </form>
        </article>
    </div>
        