<div class="row">
  <h2 id="contacto">Productos y Servicios Disponibles</h2>
  <br>
    <article class="col s6 offset-s3">
      <a routerLink="/administracion/crear-producto" class="btn waves-effect waves-light " type="submit" name="action"><i class="material-icons right">add</i>Nuevo</a>
      <br>
      <br>
        <table class="table responsive" class="centered">
          <thead >
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Precio</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of listadoRegistros">
              <td>{{p.tipo}}</td>
              <td>{{p.nombre}}</td>
              <td>{{p.descripcion}}</td>
              <td>{{p.precio}}</td>
              <td>
                  <a routerLink="/administracion/editar-producto/{{p.id}}" class="btn centered waves-effect waves-light">Editar</a>
              </td>
              <td>
                  <a routerLink="/administracion/eliminar-producto/{{p.id}}" class="btn centered waves-effect waves-light red">Eliminar</a>
              </td>
            </tr>
          </tbody>
        </table>
      </article>
      
</div>
<div>
  <p>
    
    <br>
  </p>
  <br>
</div>
