
    <div class="section container">
        <div class="row">
          <h2 id="contacto">Bienvenido</h2>
          
           <form class="col s12">
                <div class="row card panel">
                    <div class="input-field col s12">
                        <input type="text" placeholder="" id="correo" class="validate" required>
                        <label for="correo">Correo:</label>
                    </div>
      
                    <button class="btn" type="submit">Enviar</button>
                </div>
                <div class= "input-link">
                    
                </div>
            </form>
           <p>Le enviaremos un correo con su clave al correo con el cual se registró</p>
            <div class= "input-link">
                <a href="inicio" class="gradient-text">Volver al inicio</a>
                <br>
            </div>
        </div>
      </div>