<div class="row">
  <h2 class="center-align">Ingrese sus Datos:</h2>
  <article class="col s6 offset-s3">
    <form [formGroup]="fgValidador" (ngSubmit)="GuardarProspecto()" method="post" action="formulario-contact.php">
      <div class="row card panel">

        <div class="input-field">
          <label for="nombre">Nombre</label>
          <input formControlName="nombre" type="text" name="nombre" required>
        </div>
        <div class="input-field">
          <label for="apellido">Apellido</label>
          <input formControlName="apellido" type="text" name="apellido" required>

          <div class="input-field">
            <label for="correo">Correo</label>
            <input formControlName="correo" type="text" name="correo" required>
          </div>
        </div>
        <div class="input-field">
          <label for="celular">Celular</label>
          <input formControlName="celular" type="text" name="celular" required>
        </div>
        <div class="input-field">
          <label for="comentario">Comentario</label>
          <input formControlName="comentario" type="text" name="comentario" required>

        </div>
        <br>
        <p class="center-align">
          <button [disabled]="!fgValidador.valid" class="waves-effect waves-ligth btn" type="submit"><i
              class='material-icons right'>send</i>Registrar</button>
        </p>
      </div>
    </form>
  </article>
</div>