
<div class="row">
    <h2 id="contacto">Usuarios Registrados</h2>
    <br>
      <article class="col s6 offset-s3">
  <a routerLink="/administracion/crear-usuario" class="btn">Nuevo Usuario</a>
  <br>
  <br>
  <table class="tabla responsive" class="centered">
    <thead>
      <tr>
        <th>Cédula</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Teléfono</th>
        <th>Correo</th>
        <th>Rol</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let p of listadoRegistros">
          <td>
              {{p.cedula}}
          </td>
          <td>
              {{p.nombre}}
          </td>
          <td>
              {{p.apellido}}
          </td>
          
          <td>
              {{p.telefono}}
              
          </td>
          <td>
              {{p.correo}}
          </td>
          <td>
              {{p.rol}}
          </td>
          <td>
              <a routerLink="/administracion/editar-usuario/{{p.id}}"class="waves-effect waves-ligth btn">Editar</a>
          </td>
          <td>
            <a routerLink="/administracion/eliminar-usuario/{{p.id}}"class="waves-effect waves-ligth red btn">Eliminar</a>
          </td>
      </tr>
    </tbody>
    <br>
    <br>
  </table>
  <br>
  <br>

