.fondo{
  background-image: url(https://cdn.pixabay.com/photo/2021/05/04/07/10/dog-6227918_960_720.jpg);
  background-position: absolute;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
 }

h1{
  text-align: center;
  color: white;
  text-decoration: #00bcd4;
  
}

h2{
  text-align: center;
  color: #00bcd4;

}

.card-panel{
background: rgba(12, 12, 12, 0.342); 
box-shadow: inset;

}

p{
  color: white;
}

