

<div class="fondo">
  <div class="section">
  <div class="row"> 
    <div class="col s12"><span class="flow-text"></span></div>
    <h1></h1>
  </div>
  
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

<div class="container section">
  <div class="row">
    <div class="col s6">
      <div class="card-panel hoverable">
        <h2>Misión</h2>
        <p>Nuesta mision es prestar un servicio de atencion veterinaria y venta de productos, entregando calidad y satisfacion superando las espectativas de nuestros clientes</p>
        
      </div>  
      
      
    </div>
    <div class="col s6">
      <div class="card-panel hoverable">
        <h2>Visión</h2>
        <p>
          En el año 2025 nuestra empresa PETSAPP debe buscar la excelencia en la prestacion de servicios de manera eficiente y agil mejorando asi y convirtiendose de esta manera en una de la primeras en atencion de Mascotas.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
<div class="section container">
  <div class="row" id="formback" >
    <h2 id="contacto">Contáctenos</h2>
     <form  class="col s12">
          <div  class="row card panel">
              <div class="input-field col s6">
                  <input type="text" placeholder="" id="nombre" class="validate" required>
                  <label for="nombre">Nombre:</label>
              </div>

              <div class="input-field col s6">
                  <input type="text" placeholder="" id="apellido" class="validate" required>
                  <label for="apellido">Apellido:</label>
              </div>
              <div class="input-field col s6">
                  <input type="email" placeholder="" id="correo" class="validate" required>
                  <label for="correo">Correo:</label>
              </div>
              <div class="input-field col s6">
                  <input type="text" placeholder="" id="celular" class="validate" required>
                  <label for="celular">Celular:</label>
              </div>
              <div class="input-field col s12">
                  <input type="text" placeholder="" id="comentario" class="validate" required>
                  <label for="comentario">Comentario:</label>
              </div>
              <button class="btn" type="submit">Enviar</button>
          </div>
      </form>
  </div>
</div>
</div>
