<div class="row">
  <h2 class="center-align">Registrar Mascota</h2>
  <article class="col s6 offset-s3">
    <form [formGroup]="fgValidador" (ngSubmit) = "GuardarMascota()" method="post" action="formulario-contact.php">
      <div class="row card panel">
      <div class="input-field" >
        <label for="nombre">Nombre</label>
        <input formControlName="nombre" type="text" name="nombre" required>
      </div>
      <div class="input-field" >
        <label for="foto">Foto</label>
        <input formControlName="foto" type="text" name="foto" required>
      </div>
      <div class="input-field" >
        <label for="especie">Especie</label>
        <input formControlName="especie" type="text" name="especie" required>
      </div>
      <div class="input-field" >
        <label for="comentario">Comentario</label>
        <input formControlName="comentario" type="text" name="comentario" required>
      </div>
      <div class="input-field">
        <label for="estado"></label>
        <input formControlName="estado" type="hidden" name="estado" required >
      </div>
      <p class="center-align">
        <button [disabled]="!fgValidador.valid" class="waves-effect waves-ligth btn" type="submit"><i 
          class='material-icons right'>send</i>Registrar</button>
        </p>
      </div>
    </form>
  </article>
</div>


