.gradient-text{
    color: #00bcd4;
    height: 500px;
    }
    
    h2{
    text-align: center;    
    }

    h3{
    text-align: center;
    font-size: large;   
    }
    
    .section {
     align-self: center;   
    }