<p>editar-mascota works!</p>
<table>
  <thead>
    <tr>
        <th>nombre</th>
        <th>foto</th>
        <th>estado</th>
        <th>especie</th>
        <th>comentario</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Perla</td>
      <td>Eclair</td>
      <td>activo</td>
      <td>pastor aleman</td>
      <td>perro en buen estado de salud</td>
    </tr>
    <tr>
      <td>Yogui</td>
      <td>Jellybean</td>
      <td>activo</td>
      <td>criollo</td>
      <td>perro en buen estado de salud</td>
    </tr>
    <tr>
      <td>Lucki</td>
      <td>Lollipop</td>
      <td>inactivo</td>
      <td>criollo</td>
      <td>perro se encuentra enfermo</td>
    </tr>
  </tbody>
</table>
      